@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Workplace Manager!!</h1>
    <h3>Use the buttons in the navbar to register as a new user or login as a previous user!</h3>
</div>
