@model WorkplaceManager.ViewModels.ManagerIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-3">
        @foreach(Employee employee in Model.Employees)
        {
            <div class="row">
                <h4>@employee.FirstName</h4>
                <button type="button" class="btn btn-secondary" data-toggle="popover" data-placement="right" data-content="@employee.AssignedJobs.Select(j => j.Name)" data-original-title="Assigned Jobs">Assigned Jobs</button>
            </div>
        }
        <a type="btn btn-primary" asp-action="CreateEmployee">Add New Employee</a>
    </div>
    <div class="col-md-9">

    </div>
</div>
