@model WorkplaceManager.ViewModels.SeniorManagerIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .employeeSection{
        border-width:2px;
        border-style:solid;
        border-color: #EB6864;
        border-radius: 15px;
        padding: 10px 25px 10px 15px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1>Branches</h1>
            <a style="margin-bottom: 10px;" class="btn btn-info" asp-action="CreateBranch">Add New Branch</a>
            @if (Model.Branches.Count == 0)
            {
                <div class="row employeeSection">
                    <h5>No Managers or Branches Added Yet!</h5>
                </div>
            }
            else
            {
                @foreach (Branch branch in Model.Branches)
                {
                    <div class="row employeeSection">
                        <div>
                            <h6 style="white-space:pre-line">
                                @branch.AssignedManager.FirstName
                                <a style="color:black;" asp-action="Details" asp-controller="Branches" asp-route-id="@branch.BranchId">@branch.Name</a>
                            </h6>
                        </div>
                    </div>
                    <br />
                }
            }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h1>Average Quality of Work</h1>
        </div>
    </div>
</div>

